{% extends 'base_admin.html' %} {% block content %}
<div class="container py-5">
  <h3 class="fw-bold mb-4 text-primary">Edit Pemilihan</h3>
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
          <div class="card p-4">
    <form action="{{url_for('edit_daftar_pemilihan',id=data.id_pemilihan)}}" method="POST">
      <div class="mb-3">
        <label for="nama_pemilihan" class="form-label">Nama Pemilihan</label>
        <input
          type="text"
          class="form-control"
          id="nama_pemilihan"
          name="nama_pemilihan"
          value="{{data.nama_pemilihan}}"
          required
        />
      </div>
      <div class="mb-3">
        <label for="tanggal_mulai" class="form-label">Tanggal Mulai</label>
        <input
          type="date"
          class="form-control"
          id="tanggal_mulai"
          name="tanggal_mulai"
          value="{{data.tanggal_mulai}}"
          required
        />
      </div>
      <div class="mb-3">
        <label for="tanggal_selesai" class="form-label">Tanggal Selesai</label>
        <input
          type="date"
          class="form-control"
          id="tanggal_selesai"
          name="tanggal_selesai"
          value="{{data.tanggal_selesai}}"
          required
        />
      </div>
      <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <select class="form-control" name="status" id="status">
            <option value="T" {% if data.status=='T'%} selected {% endif %}>Aktif</option>
            <option value="F" {% if data.status=='F'%} selected {% endif %}>Non Aktif</option>
        </select>
      </div>
      <div class="text-end">
          <button type="submit" class="btn btn-primary rounded-pill px-4"><i class="bi bi-save me-2"></i> Simpan</button>
      </div>
    </form>
  </div>
  
    </div>
  </div>

  {% endblock %}