{% extends "base.html" %} {% block content %}
<div class="d-flex align-items-center justify-content-center vh-100 bg-light">
  <div class="card shadow p-5" style="max-width: 400px; width: 100%">
    {% if error %} 
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}
    <div class="text-center mb-4">
      <img src="{{url_for('static',filename='img/logo.png')}}" alt="Logo" width="70" class="mb-2" />
      <h4 class="fw-bold text-primary">Verifikasi Kode Anda untuk melakukan Voting</h4>
    </div>
    <form action="{{url_for('verify')}}" method="POST">
      <div class="mb-3">
        <label class="form-label">Kode Verifikasi:</label>
        <input type="text" class="form-control form-control-lg" placeholder="Masukkan kode verifikasi" name="kode_verifikasi" id="kode_verifikasi" required>
      </div>
      
      <button class="btn btn-primary w-100 py-2 rounded-pill">Verifikasi Kode</button>
    </form>
  </div>
</div>
{% endblock %}
